body {
  text-align: center;
  /* display: flex;
align-items: center;  flex-direction: column; */
}
.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  position: absolute;
  padding: 50px 100px 100px;
  left: 26%;
  top: 120px;
}
.form-control {
  width: 500px;
}

.PlayDiv {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* align-items: center; */
  position: absolute;
  width: 800px;
  height: 500px;
  left: 23%;
  top: 120px;
}

.subjects {
  display: inline-block;
}
